body {
  font-family: monospace;
  background-color: SandyBrown;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: monospace;
  font-size: 300%;
  margin-top: 20px;
}

p {
  font-family: monospace;
  font-size: 200%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-bar {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid Maroon;
  border-radius: 30px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: Maroon;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  outline: none;
}

.search-button:hover {
  background-color: Burlywood;
}

.go-back-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  background-color: Maroon;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  text-decoration: none;
}

.go-back-button:hover {
  background-color: Burlywood;
}

.makeup-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  table-layout: fixed;
}

.makeup-table th, .makeup-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid Maroon;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.makeup-table a {
  text-decoration: none;
  color: Maroon;
  cursor: pointer;
}

.makeup-table a:hover {
  text-decoration: underline;
}

.makeup-table img {
  max-width: 100px;
  max-height: 100px;
}
